---
import Layout from '../layouts/Layout.astro';
import Header from '../components/header.astro';
---

<Layout>
 <p class="text-white text-center mt-10">
  Bienvenido a ClawnVid, la plataforma de videos de Clawn, donde podrás disfrutar de todo su contenido exclusivo.
	Pricipal
 </p>
</Layout>

