---
import Layout from '../../layouts/Layout.astro';
---

<Layout>
  <section class="px-4 py-8">
    <h1 class="text-white text-3xl font-bold mb-4">Serie {Astro.params.id}</h1>
    <p class="text-gray-300">Esta página aún está en construcción.</p>
  </section>
</Layout>
