---
import Header from "../pages/header.astro";
import "../styles/global.css";
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<title>ClawnVid</title>
		<link rel="icon" href="/favicon.svg" type="image/svg+xml" />
	</head>
	<body>
		<Header />
		<main>
			<slot />
		</main>
	</body>
</html>

<style>
	html {
		font-family: system-ui, sans-serif;
		color-scheme: dark light;
	}
</style>

